- if @attractions.size > 0
  - @attractions.each do |attraction|
    %ul.card-panel.blue.lighten-5.blue-text
      %li
        %span
          = attraction.name
      %li
        %span
          = "Dia #{attraction.due_date.strftime("%d/%m/%Y")} às #{attraction.due_time.strftime("%H:%M")}"
      - if !attraction.midia.nil?
        %li
          %span
            = "Mídia para assitir: #{attraction.midia}"
- else
  Este usuário não possui atrações cadastradas
