%h2.header
  Veja as atrações dos usuários
.divider
%ul.collapsible{"data-collapsible"=>"accordion"}
  - @users.each do |user|
    %li
      .collapsible-header
        = link_to user.username, fetch_attractions_tools_path(:user_id => user.id), :remote => true, class: "search_attractions"
      .collapsible-body
        %p{class: "user_#{user.id}_attractions"}
          %span.preloader-wrapper.big.active
            %span.spinner-layer.spinner-blue
              %span.circle-clipper.left
                %span.circle
              %span.gap-patch
                %span.circle
              %span.circle-clipper.right
                %span.circle
            %span.spinner-layer.spinner-red
              %span.circle-clipper.left
                %span.circle
              %span.gap-patch
                %span.circle
              %span.circle-clipper.right
                %span.circle
            %span.spinner-layer.spinner-yellow
              %span.circle-clipper.left
                %span.circle
              %span.gap-patch
                %span.circle
              %span.circle-clipper.right
                %span.circle
            %span.spinner-layer.spinner-green
              %span.circle-clipper.left
                %span.circle
              %span.gap-patch
                %span.circle
              %span.circle-clipper.right
                %span.circle
