%h2.header
  Crie sua conta!
.divider
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "col s12 form"}) do |f|

  .row
    .input-field.col.s12
      - invalid = !resource.errors.messages[:email].blank?
      = f.label :email
      = f.email_field :email, autofocus: true, class: set_classes_for_input(invalid)
      - if invalid
        %em.invalid
          = show_error_messages(resource.errors.messages[:email])
  .row
    .input-field.col.s6
      - invalid = !resource.errors.messages[:password].blank?
      = f.label :password
      = f.password_field :password, autocomplete: "off", class: set_classes_for_input(invalid)
      - if invalid
        %em.invalid
          = show_error_messages(resource.errors.messages[:password])
    .input-field.col.s6
      - invalid = !resource.errors.messages[:password_confirmation].blank?
      = f.password_field :password_confirmation, autocomplete: "off", class: set_classes_for_input(invalid)
      = f.label :password_confirmation
      - if invalid
        %em.invalid
          = show_error_messages(resource.errors.messages[:password_confirmation])
  = render partial:'layouts/form_simple_action', :locals => {:text => "Criar!"}
