%h2.header
  Compartilhe suas atrações!
.divider
= form_tag send_attractions_shares_path, class: "col s12 form" do
  .row
    .col.s6
      %ul.check_list
        - @users.each do |user|
          %li
            = check_box_tag "share[user_ids[#{user.id}]]", user.id
            = label_tag "share[user_ids[#{user.id}]]", user.email
    .col.s6
      %ul.check_list
        - @attractions.each do |attraction|
          %li
            = check_box_tag "share[attraction_ids[#{attraction.id}]]", attraction.id
            = label_tag "share[attraction_ids[#{attraction.id}]]", attraction.name
  = render partial:'layouts/form_simple_action', :locals => {:text => "Compartilhar!"}
