#index-banner.parallax-container
  .section.no-pad-bot
    .container
      %br/
      %br/
      %h1.header.center.teal-text.text-lighten-2 Organizador de Atrações
      .row.center
        %h5.header.col.s12.light Um aplicativo moderno para você organizar as suas atrações e compartilhar com as pessoas
      .row.center
        %a#download-button.btn-large.waves-effect.waves-light.teal.lighten-1{:href => "#{new_user_registration_path}"} CRIE SUA CONTA
      %br/
      %br/
  .parallax
    = image_tag "background_1.jpg"
