.form {
  margin-top: 30px;
  em.invalid {
    color: $error-color;
    font-size: 0.9rem;
  }

  div.actions {
    clear: both;
    padding-top: 15px;
  }

  ul.check_list {
    height: 295px;
    overflow-y: auto;
  }
}
