!!! 5
%html
  %head
    %title Novas atrações compartilhadas
  %body
    %h1
      = "Olá #{@user.username}!"
    %h3
      Algumas atrações foram compartilhadas com você, segue a lista!
    %ul
      - @attractions.each do |attraction|
        %li
          %span
            = "#{attraction.name} dia #{attraction.due_date.strftime("%d/%m/%Y")} "
            = "às #{attraction.due_time.strftime("%H:%M")}"
