.row
  .divider
  .actions
    .col.s4
      = link_to "Voltar para a listagem", attractions_path, class: "btn waves-effect waves-light blue"
    .col.s8
      - if !f.object.new_record?
        .offset-s6.col.s3
          = link_to "Excluir", attraction_path(@attraction), :method => :delete, :data => {confirm: "Você tem certeza?", position: "bottom", delay: 50, tooltip: "Excluir #{@attraction.name}"}, class: "btn waves-effect waves-light red tooltipped"
        .col.s3
          %button.btn.waves-effect.waves-light.green{type: :submit}
            Salvar
      - else
        .offset-s9.col.s3
          %button.btn.waves-effect.waves-light.green{type: :submit}
            Criar
