%nav
  .nav-wrapper
    %h1
      = link_to "Organizador de Atrações", user_signed_in? ? attractions_path : root_path, class: "brand-logo"
    %ul#nav-mobile.right.side-nav
      - if user_signed_in?
        - if current_user.admin?
          %li
            = link_to "Atrações dos Usuários", user_attractions_tools_path
        %li
          = link_to "Compartilhar", shares_path
        %li
          = link_to "Sair", destroy_user_session_path, method: :delete
      - else
        %li
          = link_to "Entrar", new_user_session_path
    = link_to "#", class: "button-collapse", "data-activates"=>"nav-mobile" do
      %i.mdi-navigation-menu
