!!! 5
%html
  %head
    %title Organizador de Atrações
    = stylesheet_link_tag "application", :media => "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body{"data-controller" => "#{controller.controller_name}", "data-action" => "#{controller.action_name}"}
    = render "layouts/header"
    .container
      .row
        = render "layouts/messages"
        = yield
