!!! 5
%html
  %head
    %title Organizador de Atrações
    = stylesheet_link_tag "home", :media => "all", "data-turbolinks-track" => true
    = javascript_include_tag "home", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %nav
      .nav-wrapper
        %h1
          = link_to "Organizador de Atrações", root_path, class: "brand-logo"
        %ul#nav-mobile.right.side-nav
          %li
            = link_to "Entrar", new_user_session_path
        = link_to "#", class: "button-collapse", "data-activates"=>"nav-mobile" do
          %i.mdi-navigation-menu


    - flash.each do |name, msg|
      - if msg.is_a?(String)
        :javascript
          $(document).ready( function() {
            toast("#{msg}", 4000);
          });
    #index-banner.parallax-container
      .section.no-pad-bot
        .container
          %br/
          %br/
          %h1.header.center.grey-text.text-lighten-2 Organizador de Atrações
          .row.center
            %h5.header.col.s12.light Um aplicativo para gerenciar suas atrações e poder compartilhar
          .row.center
            %a#download-button.btn-large.waves-effect.waves-light.teal.lighten-1{:href => "#{new_user_registration_path}"} CRIE SUA CONTA
          %br/
          %br/
      .parallax
        = image_tag "background1.jpg"
    .container
      .section
        / Icon Section
        .row
          .col.s12.m4
            .icon-block
              %h2.center.brown-text
              %h5.center Speeds up development
              %p.light We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.
          .col.s12.m4
            .icon-block
              %h2.center.brown-text
              %h5.center User Experience Focused
              %p.light By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.
          .col.s12.m4
            .icon-block
              %h2.center.brown-text
              %h5.center Easy to work with
              %p.light We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.
    .parallax-container.valign-wrapper
      .section.no-pad-bot
        .container
          .row.center
            %h5.header.col.s12.light A modern responsive front-end framework based on Material Design
      .parallax
        = image_tag "background2.jpg"
    .container
      .section
        .row
          .col.s12.center
            %h3
            %h4 Contact Us
            %p.left-align.light Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
    .parallax-container.valign-wrapper
      .section.no-pad-bot
        .container
          .row.center
            %h5.header.col.s12.light A modern responsive front-end framework based on Material Design
      .parallax
        = image_tag "background3.jpg"
    %footer.page-footer.teal
      .container
        .row
          .col.l6.s12
            %h5.white-text Company Bio
            %p.grey-text.text-lighten-4 We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.
          .col.l3.s12
            %h5.white-text Settings
            %ul
              %li
                %a.white-text{:href => "#!"} Link 1
              %li
                %a.white-text{:href => "#!"} Link 2
              %li
                %a.white-text{:href => "#!"} Link 3
              %li
                %a.white-text{:href => "#!"} Link 4
          .col.l3.s12
            %h5.white-text Connect
            %ul
              %li
                %a.white-text{:href => "#!"} Link 1
              %li
                %a.white-text{:href => "#!"} Link 2
              %li
                %a.white-text{:href => "#!"} Link 3
              %li
                %a.white-text{:href => "#!"} Link 4
      .footer-copyright
        .container
          Made by
          %a.brown-text.text-lighten-3{:href => "http://materializecss.com"} Materialize
