= form_for @attraction, html: {class: "col s12 form"} do |f|
  .row
    .input-field.col.s6
      - invalid = !@attraction.errors.messages[:name].blank?
      = f.label :name
      = f.text_field :name, class: set_classes_for_input(invalid)
      - if invalid
        %em.invalid
          = show_error_messages(@attraction.errors.messages[:name])
    .input-field.col.s6
      - invalid = !@attraction.errors.messages[:midia].blank?
      = f.label :midia
      = f.text_field :midia, class: set_classes_for_input(invalid)
      - if invalid
        %em.invalid
          = show_error_messages(@attraction.errors.messages[:midia])
  .row
    .input-field.col.s6
      - invalid = !@attraction.errors.messages[:due_date].blank?
      = f.label :due_date
      = f.text_field :due_date, class: "datepicker #{set_classes_for_input(invalid)}", value: (l(f.object.due_date) if !f.object.due_date.nil?)
      - if invalid
        %em.invalid
          = show_error_messages(@attraction.errors.messages[:due_date])
    .input-field.col.s6
      - invalid = !@attraction.errors.messages[:due_time].blank?
      = f.label :due_time
      = f.text_field :due_time, class: "timepicker #{set_classes_for_input(invalid)}"
      - if invalid
        %em.invalid
          = show_error_messages(@attraction.errors.messages[:due_time])
  = render partial:'layouts/form_action', :locals => {:f => f}
