.valign-wrapper
  %h2.header.col.s10
    Lista de Atrações
  = link_to 'Criar!', new_attraction_path, class: 'btn waves-effect waves-light green col.s2 tooltipped valign', data: {position: "bottom", delay: 50, tooltip: "Criar nova Atração"}
.divider
.row
  - if @attractions.size > 0
    %table.bordered.hoverable
      %thead
        %th.col.s4
          Nome
        %th.col.s2
          Midia
        %th.col.s4
          Data e Hora
        %th.col.s1
      %tbody
      - @attractions.each do |attraction|
        %tr
          %td.col.s4
            = attraction.name
          %td.col.s2
            = attraction.midia
          %td.col.s4
            = "#{attraction.merge_date_time.strftime("%d/%m/%Y %H:%M")}"
          %td.col.s1
            = link_to "Editar", edit_attraction_path(attraction), class: 'tooltipped', data: {position: "bottom", delay: 50, tooltip: "Editar #{attraction.name}"}
  - else
    %div.col.s12.card-panel
      %p.blue-text.text-darken-2
        Você ainda não possui atrações cadastradas
        = link_to "clique aqui", new_attraction_path, class: "tooltipped", data: {position: "bottom", delay: 50, tooltip: "Criar nova Atração"}
        para criar a primeira!
